*~
*.egg/
*.pyc
*.pyo
*.cpp
*.so
build
\#*\#
.\#*
.coverage
.eggs/
chainer.egg-info/
dist/
htmlcov/

/examples/
/chainer/optimizer.py
/chainer/function.py
/chainer/optimizers/adam.py
*.model
*.state
*.dot
/myscripts/results/